:root {
    --white: #fff;
    --brightBlue: rgb(44, 116, 179);
    --darkBlue: rgb(20, 66, 114);
    --pText: #8f8f8f;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--white);
    letter-spacing: 1.5 !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track
    {
    background: var(--white);
}

::-webkit-scrollbar-thumb
    {
    background-color: var(--brightBlue);
    border-radius: 10px;
}

.desiredBtn {
    background-color: var(--brightBlue) !important;
    color: var(--white) !important;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.15s;
    cursor: pointer;
}

.desiredBtn:hover {
    opacity: 0.9;
}

.desiredBtn:active {
    opacity: 0.8;
}

.section-heading {
    margin: 1% 0 3%;
    color: var(--brightBlue);
    font-size: 2.8rem !important;
    font-weight: bold;
}

.section-p{
    text-decoration: none !important;
    color: var(--brightBlue);
}



.desiredH2 {
    text-decoration: none !important;
    margin-top: 15px;
    font-size: 1.2rem;
    color: var(--brightBlue);
    font-weight: bold;
}

.desiredH5 {
    text-decoration: none !important;
    margin-top: 15px;
    font-size: 1.2rem;
    color: var(--brightBlue) !important;
}

.contentsec{
    height: 100% !important;
}


