:root {
    --white: #fff;
    --brightBlue: rgb(44, 116, 179);
    --darkBlue: rgb(20, 66, 114);
    --pText: #8f8f8f;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--white);
    letter-spacing: 1.5 !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--brightBlue);
    border-radius: 10px;
}

.desiredBtn {
    background-color: var(--brightBlue) !important;
    color: var(--white) !important;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.15s;
    cursor: pointer;
}

.desiredBtn:hover {
    opacity: 0.9;
}

.desiredBtn:active {
    opacity: 0.8;
}

.section-heading {
    margin: 1% 0 3%;
    color: var(--brightBlue);
    font-size: 2.8rem !important;
    font-weight: bold;
}

.section-p {

    color: var(--brightBlue);
}

.spinner {

    color: var(--brightBlue) !important;
}



.desiredH2 {

    margin-top: 15px;
    font-size: 1.2rem;
    color: var(--brightBlue);
    font-weight: bold;
}

.desiredH5 {

    margin-top: 15px;
    font-size: 1.2rem;
    color: var(--brightBlue) !important;
}

.contentsec {
    height: 100% !important;
}

.clamped-text-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 3em;
    margin: 0;
    padding: 0;
    word-break: break-word;
    white-space: normal;
}

.top-focused {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 500px;
}

.image-container {
    overflow: hidden;
}

.bor {
    border: 0.5px solid black;
}

.aboutUs-section-p {
    opacity: 0.8;
    color: var(--darkBlue) !important;
    line-height: 1.5;
}

.cer-img {
    height: 100% !important;
    width: 100% !important;
}

.icon {
    cursor: pointer;
    transition: all 0.15s;
}

.icon:hover {
    opacity: 0.8;
}

.icon:active {
    opacity: 0.6;
}

.project-image {
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


.return-to-top {
    color: var(--brightBlue);
    background-color: var(--white);
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    font-size: 24px;
}

.return-to-top svg {
    margin-right: 5px;
}